In [1]:
import pandas as pd
import datetime

In [2]:
from models import arrival_history, util, config

In [3]:
pd.__version__

'1.3.5'

In [4]:
agency = config.get_agency('trimet')

In [5]:
agency_id = agency.id
route_id = '4'
version = 'v4c'
start_time_str = '00:00'
end_time_str = '24:00'

In [6]:
arrival_df = pd.DataFrame()
dates = util.get_dates_in_range('2022-03-10', '2022-03-10')
for date in dates:
    history = arrival_history.get_by_date(agency_id, route_id, date, version)
    stops_data_json = history.stops_data
    if len(stops_data_json) > 0:
        for stop_id in stops_data_json.keys():
            for direction_id in stops_data_json[stop_id]['arrivals'].keys():
        #         print(f"stop_id = {stop_id}, direction_id = {direction_id}")
                one_stop_dir_arrivals = pd.DataFrame(stops_data_json[stop_id]['arrivals'][direction_id])
                one_stop_dir_arrivals['stop_id'] = stop_id
                one_stop_dir_arrivals['direction_id'] = direction_id
                one_stop_dir_arrivals['date'] = date
                if arrival_df.empty:
                    arrival_df = one_stop_dir_arrivals.copy()
                else:
                    arrival_df = arrival_df.append(one_stop_dir_arrivals)
    else:
        print(f"No arrivals for {date}")
        arrivals_df = pd.DataFrame()

TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneType

In [ ]:
rename_dict = {'t':'time','e':'departure_time','d':'distance','i':'trip_id', 'v':'vehicle_id'}
arrival_w_names_df = arrival_df.rename(columns=rename_dict).copy()

In [48]:
arrival_w_names_df.head()

,time,departure_time,distance,vehicle_id,trip_id,stop_id,direction_id,date
0,1646915710,1646915743,16,4232,511,10177,1,2022-03-10
1,1646919353,1646919391,15,3004,60,10177,1,2022-03-10
2,1646920192,1646920196,14,3640,326,10177,1,2022-03-10
3,1646921233,1646921248,15,3231,145,10177,1,2022-03-10
4,1646921942,1646921972,10,4041,434,10177,1,2022-03-10

In [50]:
arrival_w_names_df.sort_values(['trip_id', 'time'])

,time,departure_time,distance,vehicle_id,trip_id,stop_id,direction_id,date
3,1646925110,1646925111,56,2801,0,6387,0,2022-03-10
3,1646925112,1646925112,243,2801,0,10611,0,2022-03-10
3,1646925113,1646925113,50,2801,0,1045,0,2022-03-10
2,1646925114,1646925114,106,2801,0,45,0,2022-03-10
3,1646925115,1646925115,36,2801,0,12727,0,2022-03-10
...,...,...,...,...,...,...,...,...
103,1646984942,1646984949,13,4232,538,9301,1,2022-03-10
124,1646985016,1646985051,11,4232,538,7631,1,2022-03-10
116,1646985081,1646985095,10,4232,538,7642,1,2022-03-10
112,1646985151,1646985159,10,4232,538,7634,1,2022-03-10
107,1646985197,1646985221,24,4232,538,12791,1,2022-03-10